In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def connection_create(db_file):
    con=None
    try:
        con=sqlite3.connect(db_file)
        print("connection created.")
    except Error as e:
        print("An error occurred.", e)
    return con

In [3]:
sqlite_connection= connection_create("kutuphane.db")

connection created.

In [4]:
if (sqlite_connection==None):
    print("Connection failed. Checking out.")
    exit()

## Tablo Oluşturma

In [5]:
cursor= sqlite_connection.cursor()

In [6]:
def table_create(curs):
    try:
        curs.execute("CREATE TABLE IF NOT EXISTS kitaplar (kitapadi TEXT, yazar TEXT, kitapno INT, sayfasayisi INT )")
    except Error as e:
        print("An error occurred.", e)

In [7]:
table_create(cursor)
sqlite_connection.commit()

## Tabloya Kayıt Atma İşlemi

In [8]:
cursor.execute("INSERT INTO kitaplar VALUES ('Dune', 'Frank Herbert', 1001, 296)")

In [9]:
sqlite_connection.commit()

In [10]:
cursor.execute("INSERT INTO kitaplar VALUES ('Yüzüklerin Efendisi', 'J.R.R.', 1003, 1026)")

In [11]:
sqlite_connection.commit()

## Tablodan Veri Çekme

In [12]:
cursor.execute("SELECT * FROM kitaplar")

In [13]:
data= cursor.fetchall()

In [14]:
for each in data:
    print(each)

('Dune', 'Frank Herbert', 1001, 296)
('Yüzüklerin Efendisi', 'J.R.R.', 1003, 1026)
('Dune', 'Frank Herbert', 1001, 296)
('Yüzüklerin Efendisi', 'J.R.R.', 1003, 1026)

In [15]:
cursor.execute("SELECT * FROM kitaplar WHERE sayfasayisi>400")

In [16]:
data= cursor.fetchall()

In [17]:
for each in data:
    print(each)

('Yüzüklerin Efendisi', 'J.R.R.', 1003, 1026)
('Yüzüklerin Efendisi', 'J.R.R.', 1003, 1026)

In [18]:
cursor.execute("SELECT * FROM kitaplar WHERE yazar= 'J.R.R.' ")

In [19]:
data= cursor.fetchall()

In [20]:
for each in data:
    print(each)

('Yüzüklerin Efendisi', 'J.R.R.', 1003, 1026)
('Yüzüklerin Efendisi', 'J.R.R.', 1003, 1026)

## Tablodaki Verileri Güncelleme

In [21]:
cursor.execute("UPDATE kitaplar SET sayfasayisi =999 where sayfasayisi>400")

In [22]:
cursor.execute("SELECT * FROM kitaplar ")
data= cursor.fetchall()
for each in data:
    print(each)

('Dune', 'Frank Herbert', 1001, 296)
('Yüzüklerin Efendisi', 'J.R.R.', 1003, 999)
('Dune', 'Frank Herbert', 1001, 296)
('Yüzüklerin Efendisi', 'J.R.R.', 1003, 999)

In [23]:
sqlite_connection.commit()

## Tablodaki Verileri Silme

In [24]:
cursor.execute("delete from kitaplar where kitapno=1001 ")

In [25]:
sqlite_connection.commit()

In [26]:
cursor.execute("SELECT * FROM kitaplar ")
data= cursor.fetchall()
for each in data:
    print(each)

('Yüzüklerin Efendisi', 'J.R.R.', 1003, 999)
('Yüzüklerin Efendisi', 'J.R.R.', 1003, 999)

In [27]:
if sqlite_connection:
    sqlite_connection.close()